@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #171717; /* neutral-900 */
  background-color: #fafafa; /* neutral-50 */
}
